.resCont{
    background-color: #B5AAFF;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.mapBx{
    background-color: white;
    width: 1350px;
    height: 700px;
    margin-top: 4rem;
    border-radius: 5px;
    margin-bottom:4rem;
    
}
.topTxt{
    /* text-align: center; */
    font-size: 24px;
}

.innerText{
    margin-left: 6rem;
    margin-right: 6rem;
}
.bulletTxt{
    font-size: 24px;
    text-decoration: underline;
}

#map{
    height: 50%;
}

@media(max-width:1024px){
    .mapBx{
        height: 60rem;
    }
    #map{
        width: 100%;
    }
    .innerText{
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width:768px){
    .mapBx{
        height: 80rem;
    }
    #map{
        width: 100%;
    }
    .innerText{
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width:425px){
    .mapBx{
        height: 90rem;
    }
    #map{
        width: 100%;
    }
    .innerText{
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width:375px){
    .mapBx{
        height: 100rem;
    }
    #map{
        width: 100%;
        height: 30rem;
    }
    .innerText{
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width:320px){
    .mapBx{
        height: 110rem;
    }
    #map{
        width: 100%;
        height: 30rem;
    }
    .innerText{
        margin-left: 0;
        margin-right: 0;
    }
}
