@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

.profileCont {
  background-image: url("../../Assets/BgExport.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
}

.profileBx {
  background-color: white;
  width: 1010px;
  min-height: 900px;
  margin: 3.5rem;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.proFilePic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 350px;
  
}

.profileIcon {
  width: 210px;
  height: 205.48px;
  border-radius: 100px;
}

.personNameTxt {
  text-decoration: underline;
  text-decoration-color: #b5aaff;
  text-align: center;
  font-size: 50px;
}

.inputFieldCol {
  width: 1000px;
  margin-top: 2rem;
}

.profileImgCol {
  height: 20rem;
}

.inputFieldOne {
  height: 4rem;
  width: 55rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}
.inputFieldTwo {
  height: 4rem;
  width: 55rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.inputFieldThree {
  height: 4rem;
  width: 55rem;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.emailLabelText {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.passwordLabelText {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.dobLabelText {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}


.logSubBtn{
  display: flex;
  justify-content: space-evenly;
}

.logOutBtn{
  height: 60px;
  width: 220px;
  background: #caffaa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.saveChangesBtn{
  height: 60px;
  width: 220px;
  background: #caffaa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

@media (max-width:768px){
  .profileBx{
    width: 800px;
    height: 1000px;
  }
  .inputFieldOne{
    width: 40rem;
  }
  .inputFieldTwo{
    width: 40rem;
  }
  .inputFieldThree{
    width: 40rem;
  }
  .inputFieldCol{
    width: 750px;
  }
}
@media (max-width:502px){
  .profileBx{
    width: 500px;
    height: 1000px;
  }
  .inputFieldOne{
    width: 25rem;
  }
  .inputFieldTwo{
    width: 25rem;
  }
  .inputFieldThree{
    width: 25rem;
  }
  .inputFieldCol{
    width: 750px;
  }
}
@media (max-width:425px){
  .profileBx{
    width: 400px;
    height: 1000px;
  }
  .inputFieldOne{
    width: 18rem;
  }
  .inputFieldTwo{
    width: 18rem;
  }
  .inputFieldThree{
    width: 18rem;
  }
  .inputFieldCol{
    width: 850px;
  }
  .logSubBtn{
    flex-direction: column;
    margin-left: 80px;
  }
}
@media (max-width:375px){
  .profileBx{
    width: 360px;
    height: 1000px;
  }
  .inputFieldOne{
    width: 16rem;
  }
  .inputFieldTwo{
    width: 16rem;
  }
  .inputFieldThree{
    width: 16rem;
  }
  .inputFieldCol{
    width: 450px;
  }
  .logSubBtn{
    flex-direction: column;
    margin-left: 60px;
  }
  .personNameTxt{
    font-size: 44px;
  }
}

