@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.homeContainer.container {
  background-color: #b5aaff;
  max-width: 100%;
}

.quoteDiv {
  width: 1075px;
}

.quote {
  margin-bottom: 40px;
}

.journalEntryDiv {
  display: flex;
  justify-content: center;
}

.journalEntryBtn {
  background: #caffaa;
  border-radius: 10px;
  width: 317px;
  height: 94px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  border: none;
  color: #000000;
  margin-bottom: 116px;
}

.modalColor {
  background-color: #caffaa;
  border-top: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.modalInput {
  height: 15rem;
}

.modalTxt {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.modalBtn {
  justify-content: center;
  display: flex; 
  background-color: #b5aaff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  border-color: #caffaa;
}
.modalFooter{
    background-color: #caffaa;
    justify-content: center;
    display: flex;
    border-top: none;
}

.quotesBx{
  background: linear-gradient(0deg, rgba(181,170,255,1) 0%, rgba(170,202,255,1) 21%, rgba(170,245,255,1) 48%, rgba(170,255,223,1) 73%, rgba(202,255,170,1) 100%);
  min-height: 492px;
  display: flex;
  justify-content: center;
}

.quotePlaceHolder{
  background-color: white;
  width: 20rem;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .journalEntryBtn {
    width: 209px;
    height: 62px;
    font-size: 24px;
    line-height: 30px;
  }
}
