@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


.paperBox{
    background-color: white;
    min-height: 150px;
    width: 947px;
    border-radius: 10px;
   margin-left: 1.5rem;
    
}
.journalTxtGroup{
    width: 55rem;
    margin-left: 30px;
}
.JournalGroup{
    flex-direction: row;
    display: flex;
}

.titleTxt{
    text-decoration: underline;
    text-underline-offset: 7.3px;
    font-family: "Quicksand", sans-serif;
}
.journalTitleGroup{
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-left: 30px;
}
.journalTxt{
    text-decoration: underline;
    text-underline-offset: 7.3px;
    overflow-wrap: break-word;
    font-family: "Quicksand", sans-serif;
}

@media(max-width:775px){
    .paperBox{
        width: 700px;
    }
}
@media(max-width:768px){
    .paperBox{
        width: 700px;
        margin-left: 1rem;
    }
}
@media(max-width:650px){
    .paperBox{
        width: 550px;
        margin-left: 0.5rem;
    }
}
@media(max-width:600px){
    .paperBox{
        width: 550px;
        margin-left: 0.5rem;
    }
}
@media(max-width:450px){
    .paperBox{
        width: 405px;
        margin-left: 0;
        
    }
    .journalTxt{
        font-size: 15px;
    }
    .titleTxt{
        font-size: 15px;
    }
}
@media(max-width:430px){
    .paperBox{
        width: 405px;
        margin-left: 0;
        
    }
    .journalTxt{
        font-size: 15px;
    }
    .titleTxt{
        font-size: 15px;
    }
}
@media(max-width:425px){
    .paperBox{
        width: 350px;
        
    }
    .journalTxt{
        font-size: 15px;
    }
    .titleTxt{
        font-size: 15px;
    }
}
@media(max-width:320px){
    .paperBox{
        width: 300px;
        
    }
    .journalTxt{
        font-size: 15px;
    }
    .titleTxt{
        font-size: 15px;
    }
}
@media(max-width:335px){
    .paperBox{
        width: 300px;
        
    }
    .journalTxt{
        font-size: 15px;
    }
    .titleTxt{
        font-size: 15px;
    }
}