.memeContainer.container{
    background-color: #B5AAFF;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memeRow.row{
    display: flex;
    justify-content: center;
    width: 100%;
}

.memePicCol.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memeJokeCol.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memePic{
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.joke{
    width: 500px;
    height: 425px;
    margin: 0;
    font-size: 35px;
    color: black;
    font-family: "Quicksand", sans-serif;
    
}

.memeBtn{
    width: 200px;
    height: 75px;
    font-size: 24px;
    background-color: #CAFFAA;
    color: black;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    border-radius: 10px;
}

.memeBtnRow{
    display: flex;
    justify-content: center;
}

.memeBtn:hover{
    background-color: #adfc7b;
    color: white;
}

@media screen and (max-width: 1074px) {
    .memePic{
        margin-top: 17px;
        height: auto;
        width: 300px;
    }

    .joke{
        margin-top: 17px;
        text-align: center;
        width: auto;
        height: auto;
    }

    .memeBtn{
        /* margin-bottom: 41px; */
    }
}

@media screen and (max-width: 768px){
    .memeContainer.container{
        height: calc(100vh - 79px);
    }
}

@media screen and (max-width: 571px){
    .memeContainer.container{
        height: 100%;
    }

    .memePic{
        margin-top: 75px;
    }

    .joke{
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .memeBtn{
        /* margin-bottom: 100px; */
    }
}