@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.loginCont {
  background-image: url("../../Assets/BgExport.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
}

.whiteBx {
  width: 600px;
  height: 600px;
  background-color: white;
  margin: 3.5rem;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.loginTitle {
  text-align: center;
  margin-top: 2rem;
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: #b5aaff;
  text-decoration-thickness: 3px;
}
.loginEmailInputgroup {
  margin-left: 65px;
  margin-right: 110px;
}

.loginInputStyle {
  width: 450px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.emailLabel {
  font-size: 20px;
}
.passwordEmailInputgroup {
  margin-left: 65px;
  margin-right: 110px;
  margin-top: 1rem;
}

.passwordInputStyle {
  width: 450px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
}

.passwordLabel {
  font-size: 20px;
}
