@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.createAccountCont {
  background-image: url("../../Assets/BgExport.png");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
}

.whiteBx2 {
  width: 1000px;
  min-height: 800px;
  background-color: white;
  margin: 3.5rem;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.createAccountTitle {
  text-align: center;
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: #b5aaff;
  text-decoration-thickness: 3px;
}

.createBtn {
  height: 60px;
  width: 280px;
  background: #caffaa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-size: 36px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.createBtnGroup {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}

.backBtn {
  color: black;
}

.icon {
  color: black;
}

.nameInputStyle {
  width: 900px;
  height: 55px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nameInputStyle::placeholder {
  font-size: 20px;
}

.nameInputgroup {
  margin-left: 40px;
  margin-right: 110px;
  margin-top: 1rem;
}

.nameLabel {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.phoneNumInputgroup {
  margin-left: 40px;
  margin-right: 110px;
  margin-top: 1rem;
}

.phoneNumInputStyle {
  width: 900px;
  height: 55px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.phoneNumInputStyle::placeholder {
  font-size: 20px;
}

.phoneNumLabel {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}


.emailInputgroup {
  margin-left: 40px;
  margin-right: 110px;
  margin-top: 1rem;
}

.emailInputStyle {
  width: 900px;
  height: 55px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.emailInputStyle::placeholder {
  font-size: 20px;
}

.emailLabel {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.passBirthInputgroup {
  margin-top: 1rem;
}

.passInputStyle {

  width: 400px;
  height: 55px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.passInputStyle::placeholder {
  font-size: 20px;
}

.passLabel {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;

}

.passGroup {
  margin-left: 40px;
}

.birthInputStyle {

  width: 400px;
  height: 55px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.birthInputStyle::placeholder {
  font-size: 20px;
}

.birthLabel {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;

}

.birthGroup {
  margin-left: 165px;

}
  .ModalStyles{
    background-color: #b5aaff;
    border: none;
  }
  .ModalStylesBod{
    background-color: #caffaa;
    border: none;
  }
  .modalBtn{
    border-radius: 10px;
    background-color:#caffaa;
  }
  .modalBtn:hover{
   background-color: #caffaa;
  }
  .modalTxt{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 25px;
  }

@media(max-width: 900px) {
  .whiteBx2 {
    width: 900px;
    height: 1000px;
  }

  .nameInputStyle {
    width: 650px;
  }

  .loginEmailInputgroup {
    margin-left: 65px;
  }

  .passwordEmailInputgroup {
    margin-left: 65px;
  }

  .phoneNumInputStyle {
    width: 650px;
  }

  .emailInputStyle {
    width: 650px;
  }

  .birthGroup {
    margin-left: 40px;
    margin-top: 1rem;
  }

  .createBtnGroup {
    margin-top: 3rem;
  }

  .passInputStyle {
    width: 390px;
  } 

 
   
}

@media(max-width: 770px) {
  .whiteBx2 {
    width: 500px;
    height: 500px;
  }

  .nameInputStyle {
    width: 350px;
  }

  .loginEmailInputgroup {
    margin-left: 65px;
  }

  .passwordEmailInputgroup {
    margin-left: 65px;
  }

  .phoneNumInputStyle {
    width: 350px;
  }

  .emailInputStyle {
    width: 350px;
  }

  .birthGroup {
    margin-left: 40px;
    margin-top: 1rem;
  }

  .createBtnGroup {
    margin-top: 3rem;
  }

  .passInputStyle {
    width: 390px;
  }

  .passBirthInputgroup {
    flex-direction: column !important;
  }

  .createAccountTitle {
    font-size: 40px;
  }

  .passGroup {
    width: 60px;
  }

}
 

@media(max-width: 768px) {
  .whiteBx2 {
    width: 400px;
    height: 1000px;
  }

  .nameInputStyle {
    width: 250px;
  }

  .loginEmailInputgroup {
    margin-left: 65px;
  }

  .passwordEmailInputgroup {
    margin-left: 65px;
  }

  .phoneNumInputStyle {
    width: 250px;
  }

  .emailInputStyle {
    width: 250px;
  }

  .birthInputStyle {
    width: 300px;
  }

  .birthGroup {
    margin-left: 40px;
    margin-top: 1rem;
  }

  .createBtnGroup {
    margin-top: 3rem;
  }

  .passInputStyle {
    width: 290px;
  }

  .passBirthInputgroup {
    flex-direction: column !important;
  }


}

@media(max-width: 425px) {
  .proFilePic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 64px !important;
  }

  .whiteBx2 {
    width: 400px;
    height: 1000px;
  }

  .nameInputStyle {
    width: 290px;
  }

  .loginEmailInputgroup {
    margin-left: 65px;
  }

  .passwordEmailInputgroup {
    margin-left: 65px;
  }

  .phoneNumInputStyle {
    width: 290px;
  }

  .emailInputStyle {
    width: 290px;
  }

  .birthGroup {
    margin-left: 40px;
    margin-top: 1rem;
  }

  .createBtnGroup {
    margin-top: 3rem;
  }

  .passInputStyle {
    width: 290px;
  }

  .birthInputStyle {
    width: 300px;
  }

  .emailInputStyle {
    width: 290px;
  }

  /* .passGroup{
      margin-left: 40px;
      margin-top: 1rem;
    } */
  .createAccountCont {
    overflow: hidden;
  }

  .createAccountTitle {
    font-size: 50px;
  }

}