@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* @import url('../../Assets/hamburger.png'); */

a.nav-link{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: black;
    padding: 10px;
}

span.navbar-brand{
    margin: 0;
}

div.nav-item.dropdown{
    display: flex;
    
}

.dropdown-item{
    font-weight: 500;
    color: black;
}

.dropdown-menu{
    --bs-dropdown-bg: rgb(203, 255, 170) ; 
    --bs-dropdown-border-width: 0px;
    font-family: 'Quicksand', sans-serif;
    

}

.NavbarBg{
    background-color: #CAFFAA;
}

.me-auto{
    display: flex;
    justify-content: flex-end;
    margin-left: auto !important;
    margin-right: 0px !important;

}



.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    margin-top: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    margin: none !important;
}

@media screen and (min-width: 992px) {
    a.Music{
        display: none;
    }

    a.Hotlines{
        display: none;
    }

    a.Memes{
        display: none;
    }

    a.Favorites{
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .Bookmark{
        display: none;
    }
    .Butterfly{
        display: none;
    }

    #basic-nav-dropdown{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .mob-home{
        padding-top: 10px !important;
    }

    .Pfp{
        width: 47px;
        height: 43px;
    }

    .navbar-toggler {
        border: var(--bs-border-width) solid rgb(0 0 0);
        --bs-border-width: 3px;
    }

    .navbar{
        --bs-navbar-toggler-icon-bg: url('../../Assets/Menu_Burder-512.webp');
    }

    .navbar-toggler-icon{
        width: 1.2em;
    }

}