@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.affContainer.container{
   background-color: #B5AAFF;
    max-width: 100%;
    height: calc(100vh - 0px);
    display: flex;
    align-items: start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.aff-dropdown{
    /* margin-top: 20px; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


/* .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: white(--bs-btn-active-color);
    background-color: #ffffff;
    border-color: var(--bs-btn-active-border-color);
} */

.select-icon{
    position: absolute;
}

.dropdown2{
    width: 424px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    border: none;
    padding: 5px;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
}


.dropdown-menu{
    --bs-dropdown-bg: rgb(202 255 170 / 44%) ; 
    --bs-dropdown-border-width: 0px;
    font-family: 'Quicksand', sans-serif;
    

}