@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



.all-quotes-cards {
    max-width: 400px;
    min-height: 237px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.aff-dropdown {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.select-icon {
    position: absolute;
}

.dropdown2 {
    width: 424px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    border: none;
    padding: 5px;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
}


.card-spacing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-body {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
}

.bg {
    background-color: #B5AAFF;
}

@media screen and (max-width: 320px) {
    .dropdown2 {
        width: 294.4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        border: none;
        padding: 5px;
        padding-left: 5px;
        border-radius: 10px;
        outline: none;
    }
}

.heart{
    width: 45px;
    margin-top: 20px;
    margin-right: 20px;
}

.heart-row{
    display: flex;
    justify-content: flex-end;
}
